@{
    ViewData["Title"] = "Home Page";
}

    <div class="header">
        <h1>Bhutanese News API</h1>
    </div>

    <div class="body">
        <div class="content">

            <div class="title">
                <h1>API Documentation</h1>
            </div>
            <div class="message">
                <p>
                    This is a simple API that returns the latest news from The Bhutanese and Kuensel. The API is free to
                    use and does not require any authentication. The API is currently in beta and is subject to change.
                </p>
            </div>

            <div class="title">
                <h1>Endpoints</h1>
            </div>
            <div class="message">
                <ul>
                    <li>
                        <span>Kuensel - </span><a href="/Kuensel">https://bhutanese-news.herokuapp.com/Kuensel</a>
                    </li>
                    <li>
                        <span>The Bhutanese - </span><a href="/TheBhutanese">https://bhutanese-news.herokuapp.com/The
                            Bhutanese</a>
                    </li>
                </ul>
            </div>
            
             <div class="title">
                <h1>Front-end Site</h1>
            </div>
            <div class="message">
                <ul>
                    <li>
                        <span>Frontend - </span><a href="https://bhutan-daily.vercel.app/">Bhutanese News</a>
                    </li>
                </ul>
            </div>

            <div class="title">
                <h1>Repository Links</h1>
            </div>
            <div class="message">
                <ul>
                    <li>
                        <span>Frontend - </span><a href="https://github.com/divyashC/bhutanese-news-front-end">divyashC/bhutanese-news-front-end</a>
                    </li>
                    <li>
                        <span>Backend - </span><a
                            href="https://github.com/divyashC/BhutaneseNews">divyashC/BhutaneseNews</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>